In [1]:
print("hello")

hello

In [2]:
print("hello")
print("hi")

hello
hi

In [3]:
print("hello\nhi")

hello
hi

In [4]:
print("hello\thi")

hello	hi

In [5]:
print("hello")
print("hi")

hello
hi

In [6]:
print("hello", end=" ")
print("hi")

hello hi

In [7]:
print("hello")
print("hi")

hello
hi

In [8]:
print("hello", end=";")
print("hi")

hello;hi

In [9]:
print("hello", end="\n")
print("hi")

hello
hi

In [10]:
print("hello", end="+")
print("hi")

hello+hi

In [11]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s="name, age, height, weight"
print(s)

name, age, height, weight

In [12]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
print(s)

('Jay', 5.678, 3.446576, 19.87567)

In [13]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name)

Jay

In [14]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is ")

Jay is

In [16]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age)

Jay is 5.678

In [17]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has")

Jay is 5.678 years old, has

In [18]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",height)

Jay is 5.678 years old, has 3.446576

In [19]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",round(height,2))

Jay is 5.678 years old, has 3.45

In [20]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",round(height,2),"Feet")

Jay is 5.678 years old, has 3.45 Feet

In [21]:
name="jay"
age=3
print(name,age)

jay 3

In [22]:
name="jay"
age=3
print(name+age)

TypeError: can only concatenate str (not "int") to str

In [23]:
name="jay"
age=3
print(name+str(age))

jay3

In [24]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet")

Jay is 5.678 years old, has 3.45Feet

In [25]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",weight)

Jay is 5.678 years old, has 3.45Feet and 19.87567

In [26]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",round(weight,2))

Jay is 5.678 years old, has 3.45Feet and 19.88

In [28]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG")

Jay is 5.678 years old, has 3.45Feet and 19.88KG

In [29]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight

In [ ]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers

In [30]:
name="Jay"
age=5.678
height = 3.446576
print("%s,%s,%s",(name, age, height))

%s,%s,%s ('Jay', 5.678, 3.446576)

In [31]:
name="Jay"
age=5.678
height = 3.446576
print("%s,%s,%s"%(name, age, height))

Jay,5.678,3.446576

In [32]:
name="Jay"
age=5.678
height = 3.446576
print("%s,%f,%s"%(name, age, height))

Jay,5.678000,3.446576

In [33]:
name="Jay"
age=5.678
height = 3.446576
print("%s,%.2f,%s"%(name, age, height))

Jay,5.68,3.446576

In [34]:
name="Jay"
age=5.678
height = 3.446576
print("%s,%.2f,%d"%(name, age, height))

Jay,5.68,3

In [37]:
name="Jay"
age=5.678
height = 3.446576
print("%s,%.2f,%d"%(name, age, height))
print(name+","+str(round(age,2))+","+str(int(height)))

Jay,5.68,3
Jay,5.68,3

In [38]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s"%(name))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay

In [39]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s"%(name, age))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay is 5.678

In [40]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %s"%(name, age, height))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay is 5.678 years old, has 3.446576

In [41]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %f"%(name, age, height))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay is 5.678 years old, has 3.446576

In [42]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2f"%(name, age, height))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay is 5.678 years old, has 3.45

In [43]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %s"%(name, age, height,weight))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.87567

In [44]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %f"%(name, age, height,weight))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.875670

In [45]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2f"%(name, age, height,weight))

Jay is 5.678 years old, has 3.45Feet and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88

In [47]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet height and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2fKG weight"%(name, age, height,weight))

Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight

In [ ]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet height and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2fKG weight"%(name, age, height,weight))
# temnplate strings

In [48]:
name="jay"
age=5
print("{name}, {age}")

{name}, {age}

In [49]:
name="jay"
age=5
print(f"{name}, {age}")

jay, 5

In [50]:
name="jay"
age=5
print(f"{name}, {age},{10+20}")

jay, 5,30

In [51]:
name="jay"
age=5
height=3.5678
s={name,age,height}
print(s,type(s))

{'jay', 3.5678, 5} <class 'set'>

In [52]:
name="jay"
age=5
height=3.5678
s={name,age,height}
print(s,type(s))
s1="{name},{age},{height}"
print(s1)

{'jay', 3.5678, 5} <class 'set'>
{name},{age},{height}

In [53]:
name="jay"
age=5
height=3.5678
s={name,age,height}
print(s,type(s))
s1="{name},{age},{height}"
print(s1)
s2=f"{name},{age},{height}"
print(s2)

{'jay', 3.5678, 5} <class 'set'>
{name},{age},{height}
jay,5,3.5678

In [54]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet height and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2fKG weight"%(name, age, height,weight))
# temnplate strings
print(f"{name}")

Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay

In [55]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet height and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2fKG weight"%(name, age, height,weight))
# temnplate strings
print(f"{name} is {age} years old, has {height}Feet height and {weight}KG weight")

Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.446576Feet height and 19.87567KG weight

In [56]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet height and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2fKG weight"%(name, age, height,weight))
# temnplate strings
print(f"{name} is {age} years old, has {height:f}Feet height and {weight:f}KG weight")

Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.446576Feet height and 19.875670KG weight

In [57]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet height and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2fKG weight"%(name, age, height,weight))
# temnplate strings
print(f"{name} is {age} years old, has {height:.2f}Feet height and {weight:.2f}KG weight")

Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight

In [58]:
name="Jay"
age=5.678
height = 3.446576
weight = 19.87567
s=(name, age, height, weight)
# Jay is 5.678 years old, has 3.45Feet height and 19.86KG weight.
print(name,"is",age,"years old, has",str(round(height,2))+"Feet height and",str(round(weight,2))+"KG weight")
#formmat specifiers
print("%s is %s years old, has %.2fFeet height and %.2fKG weight"%(name, age, height,weight))
# temnplate strings
print(f"{name} is {age} years old, has {height:.2f}Feet height and {weight:.2f}KG weight ffdds")

Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight
Jay is 5.678 years old, has 3.45Feet height and 19.88KG weight ffdds

In [ ]:
print("sfsdf\ndfsdf\nsdfds\tsdfdsf\nsdfsdf\t")

In [1]:
l=[10,20,30,40]
min(l)

10

In [2]:
min=min(l)

In [3]:
min(l)

TypeError: 'int' object is not callable

In [4]:
print("sfsdf\ndfsdf\nsdfds\tsdfdsf\nsdfsdf\tsdfsd\nsdfdsf\tsfsdf")

sfsdf
dfsdf
sdfds	sdfdsf
sdfsdf	sdfsd
sdfdsf	sfsdf

In [6]:
print("sfsdf\\ndfsdf\\nsdfds\\tsdfdsf\\nsdfsdf\\tsdfsd\\nsdfdsf\\tsfsdf")

sfsdf\ndfsdf\nsdfds\tsdfdsf\nsdfsdf\tsdfsd\nsdfdsf\tsfsdf

In [7]:
print(r"sfsdf\ndfsdf\nsdfds\tsdfdsf\nsdfsdf\tsdfsd\nsdfdsf\tsfsdf")

sfsdf\ndfsdf\nsdfds\tsdfdsf\nsdfsdf\tsdfsd\nsdfdsf\tsfsdf

In [8]:
print("sfsdf\ndfsdf\nsdfds\tsdfdsf\nsdfsdf\tsdfsd\nsdfdsf\tsfsdf")

sfsdf
dfsdf
sdfds	sdfdsf
sdfsdf	sdfsd
sdfdsf	sfsdf

In [9]:
print(r"\n")

\n

In [10]:
print("\n")

In [11]:
print("In "Hyderabad" there is '8 degree celcius' today")

SyntaxError: invalid syntax (<ipython-input-11-51f46ae97f47>, line 1)

In [ ]:
print("In "Hyderabad" there is '8 degree celcius' today")

In [12]:
print("\n")

In [13]:
print("\\n")

\n

In [14]:
print("In \"Hyderabad" there is '8 degree celcius' today")

SyntaxError: invalid syntax (<ipython-input-14-d20096964917>, line 1)

In [15]:
print("In \"Hyderabad\" there is '8 degree celcius' today")

In "Hyderabad" there is '8 degree celcius' today

In [16]:
print('In "Hyderabad" there is '8 degree celcius' today')

SyntaxError: invalid syntax (<ipython-input-16-a2bc62d7132f>, line 1)

In [17]:
print('In "Hyderabad" there is "8 degree celcius" today')

In "Hyderabad" there is "8 degree celcius" today

In [18]:
print('In "Hyderabad" there is \'8 degree celcius\' today')

In "Hyderabad" there is '8 degree celcius' today

In [19]:
print('""')

""

In [20]:
print("''")

''

In [21]:
"""
program representing the 
print statment
in
batch 81
"""
print("hello")

hello

In [22]:
#program representing the 
#print statment
#in
#batch 81
print("hello")

hello